@import url("https://fonts.googleapis.com/css2?family=Esteban&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
.esteban-regular {
  font-family: "Esteban", serif;
  font-weight: 400;
  font-style: normal;
}

.fraunces-normal-400 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

.fraunces-italics-400 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

:root {
  --talesoftheoldwest-c-dark: #191813;
  --talesoftheoldwest-c-faint: #c9c7b8;
  --talesoftheoldwest-c-beige: #b5b3a4;
  --talesoftheoldwest-c-tan: #444444;
  --talesoftheoldwest-c-white: #ffffff;
  --talesoftheoldwest-c-black: #000000;
  --talesoftheoldwest-c-groove: #eeede0;
}

.theme-dark {
  --talesoftheoldwest-c-dark: #191813;
  --talesoftheoldwest-c-faint: #c9c7b8;
  --talesoftheoldwest-c-beige: #b5b3a4;
  --talesoftheoldwest-c-tan: #444444;
  --talesoftheoldwest-c-white: #ffffff;
  --talesoftheoldwest-c-black: #000000;
  --talesoftheoldwest-c-groove: #eeede0;
}

.talesoftheoldwest .chat.roll {
  color: var(--black);
  font-family: "fraunces-normal-400";
  font-size: 12px;
  line-height: 16px;
  padding: 5px;
}

.talesoftheoldwest .chat.roll .foreground {
  padding: 5px;
}

.talesoftheoldwest .chat.roll .border {
  border: 1px solid transparent;
  border-color: var(--color-border);
  -o-border-image: var(--chat-roll-border) 20/10px;
     border-image: var(--chat-roll-border) 20/10px;
}

.talesoftheoldwest .chat.roll strong {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--talesoftheoldwest-c-beige);
  font-size: 14px;
}

.talesoftheoldwest .chat.roll h3 {
  font-family: "fraunces-normal-400";
  font-size: 14px;
  font-weight: bold;
  color: var(--talesoftheoldwest-c-beige);
  margin: 0 0 8px;
  text-align: center;
  border-bottom: 1px solid var(--color-border);
}

.talesoftheoldwest .chat.roll h4 {
  font-family: "fraunces-normal-400";
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 10px 0;
  text-align: center;
}

.talesoftheoldwest .chat.roll p {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 4px;
}

.talesoftheoldwest .chat.roll .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

/* Tooltip text */
.talesoftheoldwest .chat.roll .tooltip .tooltiptext {
  visibility: hidden;
  width: 10em;
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.talesoftheoldwest .chat.roll .right {
  top: -15%;
  left: 105%;
}

.talesoftheoldwest .chat.roll .tooltip:hover .tooltiptext {
  visibility: visible;
}

.talesoftheoldwest .chat.roll img,
.talesoftheoldwest .chat.roll .portrait {
  border: 0;
  display: inline-block;
  margin: 0 auto 8px;
  height: 40px;
  width: auto;
}

.talesoftheoldwest .dice-push {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22px;
          flex: 0 0 22px;
  font-size: 12px;
  text-align: center;
}

.talesoftheoldwest .dice-background {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  position: relative;
  margin: 0;
  line-height: 24px;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-border-light-2);
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px #fff inset;
          box-shadow: 0 0 2px #fff inset;
  word-break: break-all;
}

.chat-message {
  font-family: "fraunces-normal-400";
  color: black;
  background-image: url("../assets/background/sheet-background.webp");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: auto; /* Resize the background image to cover the entire container */
  background-origin: content-box;
}

/* Global styles */
.talesoftheoldwest.window-app {
  font-family: "fraunces-normal-400";
}

.talesoftheoldwest .rollable:hover, .talesoftheoldwest .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.talesoftheoldwest.dice-tooltip .roll > img {
  width: 24px;
}

body .talesoftheoldwest.application {
  font-family: "fraunces-normal-400";
  color: black;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}
body .application.dialog {
  width: 300px;
  background-image: url("../assets/background/sheet-background.webp");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 100% 100%;
  border: transparent;
  -webkit-filter: drop-shadow(8px 12px 8px #353232);
          filter: drop-shadow(8px 12px 8px #353232);
}
body .application.sheet.actor .window-content,
body .application.sheet.item .window-content {
  display: block;
  overflow: auto;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  scrollbar-color: #d36913 transparent;
  scrollbar-width: thin;
  background-image: url("../assets/background/sheet-background.webp");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 100% 100%;
  border: transparent;
  -webkit-filter: drop-shadow(8px 12px 8px #353232);
          filter: drop-shadow(8px 12px 8px #353232);
  font-family: "fraunces-normal-400";
  color: hsl(0, 0%, 0%);
}
body .dialog-form.standard-form .form-footer,
body .dialog-buttons {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .dialog-form.standard-form .form-footer button,
body .dialog-buttons button {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  min-width: unset;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
body .application input[type=text],
body .application select {
  font-family: "fraunces-normal-400";
  /* font-size: 1.25em; */
  background: white;
  color: black;
  --input-background-color: rgba(0, 0, 0, 0.1);
  --input-border-color: var(--color-dark-6);
  --input-text-color: var(--color-dark-2);
  --input-placeholder-color: var(--color-dark-3);
  --input-focus-outline-color: var(--color-warm-2);
}

.application input[type=number] {
  width: 44px;
  font-family: "fraunces-normal-400";
  font-size: 1.25em;
  background: white;
  color: black;
  --input-background-color: rgba(0, 0, 0, 0.1);
  --input-border-color: var(--color-dark-6);
  --input-text-color: var(--color-dark-2);
  --input-placeholder-color: var(--color-dark-3);
  --input-focus-outline-color: var(--color-warm-2);
}

.talesoftheoldwest.application .window-header,
.window-app .window-header {
  background-image: url("../assets/background/header-plank.webp");
}

.talesoftheoldwest.application .window-resize-handle {
  position: absolute;
  inset: auto -2px -3px auto;
  width: 24px;
  height: 24px;
  cursor: nwse-resize;
  background: transparent url(../ui/DsN/trouble-face.webp) no-repeat center/contain;
}

.talesoftheoldwest .div-border {
  border: 3px solid black;
}

.talesoftheoldwest.application .hr-style {
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, #000000), to(transparent));
  background-image: linear-gradient(90deg, transparent 0%, #000000 50%, transparent 100%);
  margin: 5px;
}

.talesoftheoldwest .sheet-tabs {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  font-size: large;
  font-family: "fraunces-normal-400";
  font-weight: bold;
  background-image: url("../assets/background/header-plank.webp");
  width: 97%;
  justify-self: anchor-center;
}

.talesoftheoldwest .tab.description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.talesoftheoldwest .tab.description .editor {
  height: 100%;
}

.talesoftheoldwest .chat-buttons {
  font-size: 25px;
  font-weight: bold;
  background: url("../assets/background/button-planks.webp") no-repeat center;
  background-size: 241px;
  width: 241px;
  height: 41px;
  padding: 0px 13px 0px 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-self: center;
  -webkit-filter: drop-shadow(8px 11px 7px black);
          filter: drop-shadow(8px 11px 7px black);
  text-shadow: 2px 2px 2px white;
  margin-bottom: 10px;
}

.talesoftheoldwest .pushed-button {
  font-size: 25px;
  font-weight: bolder;
  font-style: italic;
  background: url("../assets/background/button-planks-pushed.webp") no-repeat center;
  background-size: 241px;
  width: 241px;
  height: 41px;
  padding: 0px 13px 0px 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-self: center;
  margin-bottom: 10px;
  -webkit-filter: drop-shadow(8px 11px 7px black);
          filter: drop-shadow(8px 11px 7px black);
  text-shadow: 2px 2px 2px white;
}

.app.window-app.sheet.journal-sheet.journal-entry .journal-entry-content {
  background-image: url("../assets/background/journal-background.webp");
  background-size: cover;
}

.app.window-app.sheet.journal-sheet.journal-entry .journal-header .title {
  font-family: "fraunces-normal-400";
}

.application.sheet.journal-sheet.journal-entry .journal-entry-content {
  background-image: url("../assets/background/journal-background.webp");
  background-size: cover;
}

.application.sheet.journal-sheet .window-header {
  background-image: url("../assets/background/header-plank.webp");
}

.theme-dark input[type=checkbox],
.theme-light input[type=checkbox] {
  --checkbox-font-weight: unset;
  --checkbox-background-color: var(--color-dark-6);
  --checkbox-checked-color: var(--color-warm-1);
  --checkbox-checkmark-color: var(--color-dark-1);
}

#pause {
  scale: 0.75;
  background: none;
  top: calc(83vh - 100px);
}

#pause figcaption {
  font-size: 5em;
  font-weight: bold;
  color: hsl(32, 89.24%, 41.19%);
  text-shadow: 5px 3px 5px hsl(32, 93.38%, 13.51%);
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.body-container {
  display: grid;
  padding-left: 10px;
  grid-template-areas: "Col1 Col2";
  grid-template-columns: 234px 304px;
}

.Col1 {
  grid-area: Col1;
}

.Col2 {
  grid-area: Col2;
}

.body-split {
  display: grid;
  padding-left: 10px;
  grid-template-areas: "Split1 Split2";
  grid-template-columns: 591px 317px;
  margin-top: 6px;
  border-top: solid black;
}

.Split1 {
  grid-area: Split1;
}

.Split2 {
  grid-area: Split2;
}

.three-body-split {
  display: grid;
  padding-left: 10px;
  grid-template-areas: "TSplit1 TSplit2 TSplit3";
  grid-template-columns: 250px 317px 317px;
  margin-top: 6px;
  border-top: solid black;
}

.TSplit1 {
  grid-area: TSplit1;
}

.TSplit2 {
  grid-area: TSplit2;
}

.TSplit2 {
  grid-area: TSplit2;
}

.grid-weapon-items {
  display: grid;
  grid-template-areas: "lCol1  lCol2  lCol3  lCol4  lCol5  lCol6  lCol7  lCol8  lCol9  lCol10  lCol11 " "lColB1 lColB2 lColB3 lColB4 lColB5 lColB6 lColB7 lColB8 lColB9 lColB10 lColB11";
  padding-bottom: 2px;
  row-gap: 2px;
  grid-template-columns: 40px 140px 128px 70px 70px 70px 70px 70px 70px 70px 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: medium;
}

.lCol1 {
  grid-area: lCol1;
  text-align: left;
}

.lCol2 {
  grid-area: lCol2;
  text-align: center;
}

.lCol3 {
  grid-area: lCol3;
  text-align: center;
}

.lCol4 {
  grid-area: lCol4;
  text-align: center;
}

.lCol5 {
  grid-area: lCol5;
  text-align: center;
}

.lCol6 {
  grid-area: lCol6;
  text-align: center;
}

.lCol7 {
  grid-area: lCol7;
  text-align: center;
}

.lCol8 {
  grid-area: lCol8;
  text-align: center;
}

.lCol9 {
  grid-area: lCol9;
  text-align: center;
}

.lCol10 {
  grid-area: lCol10;
  text-align: center;
}

.lCol11 {
  grid-area: lCol11;
  text-align: center;
}

.lColB1 {
  grid-area: lColB1;
  text-align: left;
}

.lColB2 {
  grid-area: lColB2;
  text-align: left;
  font-weight: bold;
}

.lColB3 {
  grid-area: lColB3;
  text-align: center;
}

.lColB4 {
  grid-area: lColB4;
  text-align: center;
}

.lColB5 {
  grid-area: lColB5;
  text-align: center;
}

.lColB6 {
  grid-area: lColB6;
  text-align: center;
}

.lColB7 {
  grid-area: lColB7;
  text-align: center;
}

.lColB8 {
  grid-area: lColB8;
  text-align: center;
}

.lColB9 {
  grid-area: lColB9;
  text-align: center;
}

.lColB10 {
  grid-area: lColB10;
  text-align: center;
}

.lColB11 {
  grid-area: lColB11;
  text-align: center;
}

.grid-talent-items {
  display: grid;
  grid-template-areas: "TCol1 TCol2 TCol3 TCol4 " "TCol11 TCol12 TCol13 TCol14 ";
  padding-bottom: 2px;
  grid-template-columns: 28px 148px 25px 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.TCol1 {
  grid-area: TCol1;
  text-align: left;
}

.TCol2 {
  grid-area: TCol2;
  text-align: center;
}

.TCol3 {
  grid-area: TCol3;
  text-align: center;
}

.TCol4 {
  grid-area: TCol4;
  text-align: center;
}

.TCol11 {
  grid-area: TCol11;
  text-align: center;
}

.TCol12 {
  grid-area: TCol12;
  text-align: left;
  font-weight: bold;
}

.TCol13 {
  grid-area: TCol13;
  text-align: center;
}

.TCol14 {
  grid-area: TCol14;
  text-align: center;
}

.grid-talent-quality {
  display: grid;
  grid-template-areas: "QCol1 QCol2 QCol3 " "QCol11 QCol12 QCol13 ";
  padding-bottom: 2px;
  grid-template-columns: 30px 260px 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.QCol1 {
  grid-area: QCol1;
  text-align: left;
}

.QCol2 {
  grid-area: QCol2;
  text-align: center;
}

.QCol3 {
  grid-area: QCol3;
  text-align: center;
}

.QCol11 {
  grid-area: QCol11;
  text-align: center;
}

.QCol12 {
  grid-area: QCol12;
  text-align: left;
  font-weight: bold;
}

.QCol13 {
  grid-area: QCol13;
  text-align: center;
}

.grid-header {
  display: grid;
  font-family: "fraunces-normal-400";
  grid-template-areas: "HedCol1 HedCol1 HedCol7 HedCol10 HedCol2" "HedCol3 HedCol4 HedCol8 HedCol11 HedCol2" "HedCol5 HedCol6 HedCol9 HedCol12 HedCol2";
  grid-template-columns: 162px 206px 94px 266px 184px;
}

.HedCol1 {
  grid-area: HedCol1;
}

.HedCol2 {
  grid-area: HedCol2;
}

.HedCol3 {
  grid-area: HedCol3;
  font-weight: bold;
  font-size: larger;
  text-align: center;
  align-self: center;
}

.HedCol4 {
  grid-area: HedCol4;
  text-align: center;
  align-self: center;
}

.HedCol5 {
  grid-area: HedCol5;
  font-weight: bold;
  font-size: larger;
  text-align: center;
  align-self: center;
}

.HedCol6 {
  grid-area: HedCol6;
  text-align: center;
  align-self: center;
}

.HedCol7 {
  grid-area: HedCol7;
  font-weight: bold;
  font-size: larger;
  text-align: center;
  align-self: center;
}

.HedCol8 {
  grid-area: HedCol8;
  font-weight: bold;
  font-size: larger;
  text-align: center;
  align-self: center;
}

.HedCol9 {
  grid-area: HedCol9;
  text-align: center;
}

.HedCol10 {
  grid-area: HedCol10;
  text-align: center;
  align-self: center;
}

.HedCol11 {
  grid-area: HedCol11;
  text-align: center;
}

.HedCol12 {
  grid-area: HedCol12;
  align-self: center;
}

.item-sub-header {
  display: grid;
  font-family: "fraunces-normal-400";
  row-gap: 2px;
  grid-template-areas: "ISHCol1 ISHCol2 " "ISHCol3 ISHCol4 " "ISHCol5 ISHCol6 ";
  grid-template-columns: 162px 150px;
}

.ISHCol1 {
  grid-area: ISHCol1;
  font-weight: bold;
  font-size: larger;
  text-align: center;
  align-self: center;
}

.ISHCol2 {
  grid-area: ISHCol2;
  text-align: center;
  align-self: center;
}

.ISHCol3 {
  grid-area: ISHCol3;
  font-weight: bold;
  font-size: larger;
  text-align: center;
  align-self: center;
}

.ISHCol4 {
  grid-area: ISHCol4;
  text-align: center;
  align-self: center;
}

.ISHCol5 {
  grid-area: ISHCol5;
  font-weight: bold;
  font-size: larger;
  text-align: center;
  align-self: center;
}

.ISHCol6 {
  grid-area: ISHCol6;
  text-align: center;
  align-self: center;
}

.horse-header {
  display: grid;
  justify-self: center;
  margin-bottom: 5px;
  grid-template-areas: "HorseCol1 HorseCol1 HorseCol2 HorseCol3" "HorseCol4 HorseCol5 HorseCol6 HorseCol7 ";
  padding-bottom: 2px;
  grid-template-columns: 167px 206px 94px 266px;
}

.HorseCol1 {
  grid-area: HorseCol1;
}

.HorseCol2 {
  grid-area: HorseCol2;
  font-weight: bold;
  font-size: larger;
  text-align: center;
  align-self: center;
}

.HorseCol3 {
  grid-area: HorseCol3;
  text-align: center;
  align-self: center;
}

.HorseCol4 {
  grid-area: HorseCol4;
  font-weight: bold;
  font-size: larger;
  text-align: center;
  align-self: center;
}

.HorseCol5 {
  grid-area: HorseCol5;
  text-align: center;
  align-self: center;
}

.HorseCol6 {
  grid-area: HorseCol6;
  font-weight: bold;
  font-size: larger;
  text-align: center;
  align-self: center;
}

.HorseCol7 {
  grid-area: HorseCol7;
  text-align: center;
}

.grid-item-header {
  display: grid;
  grid-template-areas: "ItemHedCol1 ItemHedCol1 ItemHedCol2" "ItemHedCol3 ItemHedCol4 ItemHedCol2 " "ItemHedCol5 ItemHedCol6 ItemHedCol2 " "ItemHedCol7 ItemHedCol8 ItemHedCol2 ";
  grid-template-columns: 140px 140px 160px;
}

.ItemHedCol1 {
  grid-area: ItemHedCol1;
}

.ItemHedCol2 {
  grid-area: ItemHedCol2;
}

.ItemHedCol3 {
  grid-area: ItemHedCol3;
  align-self: center;
  font-weight: bold;
  font-size: larger;
  text-align: center;
}

.ItemHedCol4 {
  grid-area: ItemHedCol4;
  align-self: center;
}

.ItemHedCol5 {
  grid-area: ItemHedCol5;
  align-self: center;
  font-weight: bold;
  font-size: larger;
  text-align: center;
}

.ItemHedCol6 {
  grid-area: ItemHedCol6;
  align-self: center;
}

.ItemHedCol7 {
  grid-area: ItemHedCol7;
  align-self: center;
  font-weight: bold;
  font-size: larger;
  text-align: center;
}

.ItemHedCol8 {
  grid-area: ItemHedCol8;
  align-self: center;
}

.sheet-main-attributes {
  display: grid;
  /* row-gap: 5px; */
  /* margin-top: 3px; */
  /* margin-bottom: -2px; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-areas: "A1 B1 A2 B2 A3 B3 A4 B4 " "H1 H2 S1 S2 V1 V2  D1 D2 ";
  grid-template-columns: 107px 110px 102px 110px 136px 110px 112px 110px;
  background: rgba(139, 106, 44, 0.21);
}

.A1 {
  grid-area: A1;
  text-align: center;
}

.B1 {
  grid-area: B1;
  text-align: center;
}

.A2 {
  grid-area: A2;
  text-align: center;
}

.B2 {
  grid-area: B2;
  text-align: center;
}

.A3 {
  grid-area: A3;
  text-align: center;
}

.B3 {
  grid-area: B3;
  text-align: center;
}

.A4 {
  grid-area: A4;
  text-align: center;
}

.B4 {
  grid-area: B4;
  text-align: center;
}

.H1 {
  grid-area: H1;
  text-align: center;
}

.H2 {
  grid-area: H2;
  text-align: center;
}

.S1 {
  grid-area: S1;
  text-align: center;
}

.S2 {
  grid-area: S2;
  text-align: center;
}

.V1 {
  grid-area: V1;
  text-align: center;
}

.V2 {
  grid-area: V2;
  text-align: center;
}

.D1 {
  grid-area: D1;
  text-align: center;
}

.D2 {
  grid-area: D2;
  text-align: center;
}

.sheet-main-abilities {
  display: grid;
  row-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-areas: "Fightin Fightin2 Lightfingered Lightfingered2 Animalhandlin Animalhandlin2 Booklearnin Booklearnin2" "Labor Labor2 Move Move2 Hawkeye Hawkeye2 Doctorin Doctorin2" "Presence Presence2 Operate Operate2 Insight Insight2 Makin Makin2" "Resilience Resilience2 Shootin Shootin2 Nature Nature2 Performin Performin2";
  grid-template-columns: 162px 55px 162px 55px 179px 55px 162px 55px;
}

.Labor {
  grid-area: Labor;
}

.Labor2 {
  grid-area: Labor2;
}

.Presence {
  grid-area: Presence;
}

.Presence2 {
  grid-area: Presence2;
}

.Fightin {
  grid-area: Fightin;
}

.Fightin2 {
  grid-area: Fightin2;
}

.Move {
  grid-area: Move;
}

.Move2 {
  grid-area: Move2;
}

.Operate {
  grid-area: Operate;
}

.Operate2 {
  grid-area: Operate2;
}

.Shootin {
  grid-area: Shootin;
}

.Shootin2 {
  grid-area: Shootin2;
}

.Lightfingered {
  grid-area: Lightfingered;
}

.Lightfingered2 {
  grid-area: Lightfingered2;
}

.Hawkeye {
  grid-area: Hawkeye;
}

.Hawkeye2 {
  grid-area: Hawkeye2;
}

.Nature {
  grid-area: Nature;
}

.Nature2 {
  grid-area: Nature2;
}

.Insight {
  grid-area: Insight;
}

.Insight2 {
  grid-area: Insight2;
}

.Animalhandlin {
  grid-area: Animalhandlin;
}

.Animalhandlin2 {
  grid-area: Animalhandlin2;
}

.Performin {
  grid-area: Performin;
}

.Performin2 {
  grid-area: Performin2;
}

.Makin {
  grid-area: Makin;
}

.Makin2 {
  grid-area: Makin2;
}

.Doctorin {
  grid-area: Doctorin;
}

.Doctorin2 {
  grid-area: Doctorin2;
}

.Booklearnin {
  grid-area: Booklearnin;
}

.Booklearnin2 {
  grid-area: Booklearnin2;
}

.critical-inj {
  display: grid;
  grid-template-areas: "crit1 crit2 crit3 crit4";
  grid-template-columns: 29px 200px 320px 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crit1 {
  grid-area: crit1;
  text-align: left;
  padding-right: 4px;
}

.crit2 {
  grid-area: crit2;
  text-align: left;
  font-weight: bold;
  padding-right: 8px;
}

.crit3 {
  grid-area: crit3;
  text-align: left;
  font-weight: bold;
  padding-right: 8px;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.crit4 {
  grid-area: crit4;
  text-align: right;
}

.sheet-cash {
  display: grid;
  row-gap: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-areas: "cash1 cash2 cash3 cash4";
  grid-template-columns: 154px 302px 148px 303px;
}

.cash1 {
  grid-area: cash1;
  text-align: center;
}

.cash2 {
  grid-area: cash2;
  text-align: center;
}

.cash3 {
  grid-area: cash3;
  text-align: center;
}

.cash4 {
  grid-area: cash4;
}

.grid-weapon-feature-list {
  display: grid;
  row-gap: 5px;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-areas: "grid-wfl1 grid-wfl2 grid-wfl3 grid-wfl4";
  grid-template-columns: 150px 50px 150px 50px;
}

.grid-wfl1 {
  grid-area: grid-wfl1;
  text-align: center;
}

.grid-wfl2 {
  grid-area: grid-wfl2;
  text-align: center;
  align-self: end;
}

.grid-wfl3 {
  grid-area: grid-wfl3;
  text-align: center;
  align-self: end;
}

.grid-wfl4 {
  grid-area: grid-wfl4;
  text-align: center;
}

.overwatch_header {
  display: grid;
  margin-top: 5px;
  grid-template-areas: "Ow1 Ow2";
  grid-template-columns: 116px 687px;
}

.Ow1 {
  grid-area: Ow1;
  font-size: 18px;
}

.Ow2 {
  grid-area: Ow2;
  font-weight: bold;
  font-size: large;
  text-align: center;
}

.sheet-gear-cash {
  display: grid;
  row-gap: 5px;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-areas: "L1C1 L1C2 L1C3 L1C4" "L2C1 L2C2 L2C3 L2C4" "L3C1 L3C2 L3C3 L3C4" "L4C1 L4C2 L4C2 L4C2" "L5C1 L5C2 L5C2 L5C2" "L6C1 L6C2 L6C2 L6C2";
  grid-template-columns: 150px 50px 150px 60px;
}

.L1C1 {
  grid-area: L1C1;
  text-align: right;
}

.L1C2 {
  grid-area: L1C2;
}

.L1C3 {
  grid-area: L1C3;
  text-align: right;
}

.L1C4 {
  grid-area: L1C4;
}

.L2C1 {
  grid-area: L2C1;
  text-align: right;
}

.L12C2 {
  grid-area: L2C2;
}

.L2C3 {
  grid-area: L2C3;
  text-align: right;
}

.L2C4 {
  grid-area: L2C4;
}

.L3C1 {
  grid-area: L3C1;
  text-align: right;
}

.L3C2 {
  grid-area: L3C2;
}

.L3C3 {
  grid-area: L3C3;
  text-align: right;
}

.L3C4 {
  grid-area: L3C4;
}

.L4C1 {
  grid-area: L4C1;
  text-align: right;
}

.L4C2 {
  grid-area: L4C2;
}

.L5C1 {
  grid-area: L5C1;
  text-align: right;
}

.L5C2 {
  grid-area: L5C2;
  text-align: center;
}

.L6C1 {
  grid-area: L6C1;
  text-align: right;
}

.L6C2 {
  grid-area: L6C2;
}

.conditions-split {
  display: grid;
  grid-template-areas: "CSplit11 CSplit12" "CSplit21 CSplit22" "CSplit31 CSplit32" "CSplit41 CSplit42" "CSplit51 CSplit52";
  grid-template-columns: 150px 50px;
  margin-top: 6px;
  row-gap: 2px;
}

.CSplit11 {
  grid-area: CSplit11;
  text-align: right;
}

.CSplit12 {
  grid-area: CSplit12;
}

.CSplit21 {
  grid-area: CSplit21;
  text-align: right;
}

.CSplit22 {
  grid-area: CSplit22;
}

.CSplit31 {
  grid-area: CSplit31;
  text-align: right;
}

.CSplit32 {
  grid-area: CSplit32;
}

.CSplit41 {
  grid-area: CSplit41;
  text-align: right;
}

.CSplit42 {
  grid-area: CSplit42;
}

.CSplit51 {
  grid-area: CSplit51;
  text-align: right;
}

.CSplit52 {
  grid-area: CSplit52;
}

.sheet-compadres-header {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 720px;
  justify-self: center;
  grid-template-areas: "schA1 schB1 schA2 schA3";
  grid-template-columns: 580px 40px 40px 40px;
}

.schA1 {
  grid-area: schA1;
  font-size: x-large;
  font-weight: bold;
}

.schB1 {
  grid-area: schB1;
  margin: 5px;
}

.schA2 {
  grid-area: schA2;
  margin: 5px;
}

.schA3 {
  grid-area: schA3;
  margin: 5px;
}

.sheet-compadres-attributes {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 859px;
  justify-self: center;
  grid-template-areas: "scaA1 scaB1 scaA2 scaB2 scaA3 scaB3 scaA4 scaB4 " "scaH1 scaH2 scaS1 scaS2 scaV1 scaV2  scaD1 scaD2 ";
  grid-template-columns: 100px 106px 100px 107px 122px 105px 100px 106px;
  background: rgba(139, 106, 44, 0.21);
}

.scaA1 {
  grid-area: scaA1;
  text-align: center;
}

.scaB1 {
  grid-area: scaB1;
  text-align: center;
}

.scaA2 {
  grid-area: scaA2;
  text-align: center;
}

.scaB2 {
  grid-area: scaB2;
  text-align: center;
}

.scaA3 {
  grid-area: scaA3;
  text-align: center;
}

.scaB3 {
  grid-area: scaB3;
  text-align: center;
}

.scaA4 {
  grid-area: scaA4;
  text-align: center;
}

.scaB4 {
  grid-area: scaB4;
  text-align: center;
}

.scaH1 {
  grid-area: scaH1;
  text-align: center;
}

.scaH2 {
  grid-area: scaH2;
  text-align: center;
}

.scaS1 {
  grid-area: scaS1;
  text-align: center;
}

.scaS2 {
  grid-area: scaS2;
  text-align: center;
}

.scaV1 {
  grid-area: scaV1;
  text-align: center;
}

.scaV2 {
  grid-area: scaV2;
  text-align: center;
}

.scaD1 {
  grid-area: scaD1;
  text-align: center;
}

.scaD2 {
  grid-area: scaD2;
  text-align: center;
}

.compadre-split {
  display: grid;
  width: 800px;
  justify-self: center;
  grid-template-areas: "CompSplit11 CompSplit12" "CompSplit21 CompSplit22";
  grid-template-columns: 400px 400px;
}

.CompSplit11 {
  grid-area: CompSplit11;
  /* text-align: center; */
  align-self: normal;
  padding: 3px;
}

.CompSplit12 {
  grid-area: CompSplit12;
  justify-items: center;
  align-self: normal;
  padding: 3px;
}

.CompSplit21 {
  grid-area: CompSplit21;
  text-align: center;
  justify-items: center;
  align-self: normal;
  padding: 3px;
}

.CompSplit22 {
  grid-area: CompSplit22;
  text-align: center;
  justify-items: center;
  align-self: normal;
  padding: 3px;
}

.sheet-animal-attributes {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-areas: "aA1 aB1 aA2 aB2 aA3 aB3 " "aH1 aH2 aS1 aS2 aV1 aV2 ";
  grid-template-columns: 112px 110px 112px 110px 137px 110px;
  background: rgba(139, 106, 44, 0.21);
}

.aA1 {
  grid-area: aA1;
  text-align: center;
}

.aB1 {
  grid-area: aB1;
  text-align: center;
}

.aA2 {
  grid-area: aA2;
  text-align: center;
}

.aB2 {
  grid-area: aB2;
  text-align: center;
}

.aA3 {
  grid-area: aA3;
  text-align: center;
}

.aB3 {
  grid-area: aB3;
  text-align: center;
}

.aH1 {
  grid-area: aH1;
  text-align: center;
}

.aH2 {
  grid-area: aH2;
  text-align: center;
}

.aS1 {
  grid-area: aS1;
  text-align: center;
}

.aS2 {
  grid-area: aS2;
  text-align: center;
}

.aV1 {
  grid-area: aV1;
  text-align: center;
}

.aV2 {
  grid-area: aV2;
  text-align: center;
}

.sheet-animal-abilities {
  display: grid;
  row-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-areas: "aResilience aResilience2 aMove aMove2 aFightin aFightin2" "aHawkeyee aHawkeye2 aMove aMove2 aFightin aFightin2";
  grid-template-columns: 162px 55px 162px 55px 178px 55px;
  border-bottom: solid black;
  margin: 5px;
}

.aFightin {
  grid-area: aFightin;
}

.aFightin2 {
  grid-area: aFightin2;
}

.aMove {
  grid-area: aMove;
}

.aMove2 {
  grid-area: aMove2;
}

.aResilience {
  grid-area: aResilience;
}

.aResilience2 {
  grid-area: aResilience2;
}

.aHawkeye {
  grid-area: aHawkeye;
}

.aHawkeye2 {
  grid-area: aHawkeye2;
}

.gear-split {
  display: grid;
  grid-template-areas: "gearSplit1 gearSplit2";
  grid-template-columns: 531px 352px;
}

.gearSplit1 {
  grid-area: gearSplit1;
}

.gearSplit2 {
  grid-area: gearSplit2;
  justify-self: center;
}

.riding-bonus {
  display: grid;
  grid-template-areas: "rideSplit1 rideSplit2";
  grid-template-columns: 215px 50px;
  background: rgba(139, 106, 44, 0.21);
}

.rideSplit1 {
  grid-area: rideSplit1;
  font-size: x-large;
  text-align: center;
}

.rideSplit2 {
  grid-area: rideSplit2;
  text-align: center;
}

.quality-split {
  display: grid;
  justify-self: center;
  grid-template-areas: "QualSplit11 QualSplit12" "QualSplit21 QualSplit22";
  grid-template-columns: 210px 210px;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}

.QualSplit11 {
  grid-area: QualSplit11;
  text-align: center;
  justify-items: center;
  align-self: normal;
  padding: 3px;
}

.QualSplit12 {
  grid-area: QualSplit12;
  text-align: center;
  justify-items: center;
  align-self: normal;
  padding: 3px;
}

.QualSplit21 {
  grid-area: QualSplit21;
  text-align: center;
  justify-items: center;
  align-self: normal;
  padding: 3px;
}

.QualSplit22 {
  grid-area: QualSplit22;
  text-align: center;
  justify-items: center;
  align-self: normal;
  padding: 3px;
}

.grid-short-quality {
  display: grid;
  grid-template-areas: "SQol1 SQol1" "SQol11 SQol12";
  padding-bottom: 2px;
  grid-template-columns: 30px 170px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.SQol1 {
  grid-area: SQol1;
  text-align: center;
}

.SQol2 {
  grid-area: SQol2;
  text-align: center;
}

.SQol11 {
  grid-area: SQol11;
  text-align: center;
}

.SQol12 {
  grid-area: SQol12;
  text-align: left;
  font-weight: bold;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.flex-group-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.flex-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flexlarge {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.align-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

.align-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

.align-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

/* Import settings */
.talesoftheoldwest .container {
  width: 100%;
}

.talesoftheoldwest .listHeading {
  text-align: center;
  vertical-align: middle;
  padding: 10px 0px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.talesoftheoldwest .twogridcol {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 50%));
}

.talesoftheoldwest .twogridcol input[type=checkbox] {
  vertical-align: middle;
}

.talesoftheoldwest .actors.content {
  background: lightgray;
}

.talesoftheoldwest .actors.content.toggle-display {
  display: none;
}

.talesoftheoldwest .items.content {
  background: lightgray;
}

.talesoftheoldwest .items.content.toggle-display {
  display: none;
}

.talesoftheoldwest .journal.content {
  background: lightgray;
}

.talesoftheoldwest .journal.content.toggle-display {
  display: none;
}

.talesoftheoldwest .scenes.content {
  background: lightgray;
}

.talesoftheoldwest .scenes.content.toggle-display {
  display: none;
}

.talesoftheoldwest .tables.content {
  background: lightgray;
}

.talesoftheoldwest .tables.content.toggle-display {
  display: none;
}

.talesoftheoldwest .macros.content {
  background: lightgray;
}

.talesoftheoldwest .macros.content.toggle-display {
  display: none;
}

.talesoftheoldwest .title {
  cursor: pointer;
}

/* Footer */
.talesoftheoldwest .footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: inherit;
  height: auto;
  background-color: #d0daee;
}

.talesoftheoldwest .imagecontainer {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.talesoftheoldwest .image-text-box {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 30px;
}

.talesoftheoldwest .content-link-I {
  color: hsl(39, 77%, 83%);
  background: transparent;
  font-size: 1.15em;
  border: 0;
}

.talesoftheoldwest a.inline-link {
  background-color: transparent;
  color: hsl(6, 91.59%, 29.26%);
  font-size: 1.15em;
  border: 0;
  font-family: "fraunces-normal-400";
  font-style: italic;
}

.talesoftheoldwest .inline-link2 .content-link {
  background-color: transparent;
  color: hsl(6, 56%, 30%);
  font-size: 1.333em;
  border: 0;
  font-family: "fraunces-normal-400";
}

.talesoftheoldwest .totowtable {
  height: 36px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 0;
}

.talesoftheoldwest .totowtable tr:nth-child(even) {
  background-color: transparent;
}

.talesoftheoldwest .tdstyle {
  width: 40%;
  height: 18px;
  text-align: left;
}

.talesoftheoldwest .tdstyleR {
  width: 40%;
  height: 18px;
  text-align: Right;
}

.talesoftheoldwest .tdstyleC {
  width: 100%;
  height: 18px;
  text-align: center;
}

.talesoftheoldwest .tdstyle3D {
  width: 30%;
  height: 18px;
  text-align: center;
}

.talesoftheoldwest .tdstyle2D {
  width: 50%;
  height: 18px;
  text-align: center;
}

.talesoftheoldwest .blockquoteright {
  background-color: rgba(0, 0, 0, 0.05);
  max-width: 35%;
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid;
  font-style: normal;
  float: right;
  border: 5px double hsl(0, 0%, 0%);
  border-radius: 25px;
  -webkit-box-shadow: 3px 3px;
          box-shadow: 3px 3px;
  font-family: "fraunces-normal-400";
  -webkit-box-shadow: -4px 6px 17px 0px hsl(0, 1%, 28%);
          box-shadow: -4px 6px 17px 0px hsl(0, 1%, 28%);
}

.talesoftheoldwest .blockquoteleft {
  background-color: rgba(0, 0, 0, 0.05);
  max-width: 35%;
  padding: 10px;
  margin-top: 10px;
  margin-right: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid;
  font-style: normal;
  float: left;
  border: 5px double hsl(0, 0%, 0%);
  border-radius: 25px;
  -webkit-box-shadow: 3px 3px;
          box-shadow: 3px 3px;
  font-family: "fraunces-normal-400";
  -webkit-box-shadow: -4px 6px 17px 0px hsl(0, 1%, 28%);
          box-shadow: -4px 6px 17px 0px hsl(0, 1%, 28%);
}

.talesoftheoldwest .blockquotecenter {
  background-color: rgba(0, 0, 0, 0.05);
  max-width: 35%;
  padding: 10px;
  margin-top: 20px;
  margin-right: 15px;
  margin-bottom: 20px;
  margin-left: 10px;
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid;
  font-style: normal;
  float: center;
  border: 2px solid hsl(0, 0%, 0%);
  font-family: "fraunces-normal-400";
  -webkit-box-shadow: -4px 6px 17px 0px hsl(0, 1%, 28%);
          box-shadow: -4px 6px 17px 0px hsl(0, 1%, 28%);
}

.talesoftheoldwest .blockquoteststtable {
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0px;
  padding: 0px;
  border-style: none;
}

.talesoftheoldwest .blockquoteplainleft {
  max-width: 50%;
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid;
  float: left;
  border: none;
  padding: 0;
  margin: 10px;
  font-family: "fraunces-normal-400";
}

.talesoftheoldwest .blockquoteplainright {
  max-width: 50%;
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid;
  float: right;
  border: none;
  padding: 0;
  margin: 10px;
  font-family: "fraunces-normal-400";
}

.talesoftheoldwest .blockquoteplaincenter {
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid;
  border: none;
  font-family: "fraunces-normal-400";
}

.talesoftheoldwest .textover figcaption {
  position: absolute;
  top: 0%;
  bottom: 0%;
  text-align: left;
  width: auto;
  margin: 0;
  padding: 0px;
  font-family: "fraunces-normal-400";
  font-weight: normal;
}

.talesoftheoldwest p {
  font-family: "fraunces-normal-400";
  font-size: 1.3em;
}

.talesoftheoldwest h1 {
  font-family: "fraunces-normal-400";
  font-weight: bold;
}

.talesoftheoldwest h2 {
  font-family: "fraunces-normal-400";
  font-weight: bold;
  text-align: center;
  font-size: 2.5em;
}

.talesoftheoldwest h3 {
  font-family: "fraunces-normal-400";
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  border-bottom: none;
  font-size: 2em;
}

.talesoftheoldwest .h3center {
  text-align: center;
  border-bottom: 2px solid black;
}

.talesoftheoldwest .h3center-smallcaps {
  text-align: center;
  border-bottom: 2px solid black;
  font-variant-caps: all-small-caps;
}

.talesoftheoldwest h4 {
  font-family: "fraunces-normal-400";
  font-weight: bold;
  font-size: 1.5em;
}

.talesoftheoldwest h5 {
  font-family: "fraunces-normal-400";
  font-weight: bold;
  color: hsl(19, 70%, 37%);
  margin: 0px 20px 0px 10px;
  border-bottom: none;
}

.talesoftheoldwest h6 {
  font-family: "fraunces-normal-400";
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  margin: 0;
}

.talesoftheoldwest .h1NoUnder {
  border: 0;
  margin-bottom: 0;
}

.talesoftheoldwest .h2NoUnder {
  border: 0;
  margin-bottom: 0;
  text-align: center;
}

.talesoftheoldwest .h2subHead {
  font-weight: bold;
  color: hsl(19, 70%, 37%);
  border: 0;
  margin-bottom: 0;
  margin-left: 10px;
  font-family: "fraunces-normal-400";
  font-size: 1.667em;
}

.talesoftheoldwest .totowtablesmall {
  height: 36px;
  width: 34%;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  text-align: center;
  /* font-family: "Esteban"; */
  /* font-size: 18pt; */
}

.talesoftheoldwest .totowtablesmall tr:nth-child(even) {
  background-color: transparent;
}

.talesoftheoldwest ul li,
.talesoftheoldwest ol li {
  font-family: "fraunces-normal-400";
  font-weight: normal;
  list-style-type: square;
  padding-bottom: 9px;
  font-size: 1.3em;
}

::marker {
  font-size: 1.5em;
}

.ulindent {
  margin-left: 40px;
}

.talesoftheoldwest .nostyle li {
  font-family: "fraunces-normal-400";
  font-weight: normal;
  list-style: none;
  padding-bottom: 9px;
  font-size: 1.3em;
}

.talesoftheoldwest .chapterHeading {
  font-family: "fraunces-normal-400";
  font-weight: bold;
  font-size: 2em;
  color: hsl(0, 0%, 100%);
  margin: 0 0 0.5em 0;
  padding: 0;
  text-align: center;
  border-bottom: none;
}

.talesoftheoldwest .fancytext {
  color: hsl(19, 70%, 37%);
  font-size: 1.5em;
}

.talesoftheoldwest .pctable th,
.talesoftheoldwest .pctable td {
  border: 2px solid black;
}

.talesoftheoldwest .pctable td p {
  font-size: 1.2em;
  padding-right: 5px;
  margin: 0px;
}

.talesoftheoldwest .stattable {
  font-style: italic;
  font-weight: 900;
  font-size: 1.5em;
  padding-right: 5px;
  margin: 0px;
  border-bottom: double 5px;
}

.talesoftheoldwest .actiontable {
  width: 30%;
  background-color: rgba(211, 211, 211, 0.459);
}

.talesoftheoldwest .ntable {
  width: 99%;
  border: none;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.talesoftheoldwest .ntable tr:nth-child(even) {
  background-color: transparent;
}

.talesoftheoldwest .trhead {
  text-align: center;
  width: 45%;
  font-weight: bold;
}

.talesoftheoldwest .tcol1 {
  width: 2.5%;
}

.talesoftheoldwest .tcol2 {
  width: 45%;
  text-align: justify;
  vertical-align: top;
}

.talesoftheoldwest .tcol3 {
  width: 5%;
}

/* Styles limited to talesoftheoldwest sheets */
.talesoftheoldwest .item-form {
  font-family: "fraunces-normal-400";
}
.talesoftheoldwest .sheet-header {
  -webkit-box-flex: 0;
      -ms-flex: 0 auto;
          flex: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 1px;
}
.talesoftheoldwest .sheet-header .profile-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  height: 140px;
  width: auto;
  margin-left: 5px;
}
.talesoftheoldwest .sheet-header .item-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  height: 100px;
  width: auto;
  margin-left: 5px;
}
.talesoftheoldwest .sheet-header .header-fields {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.talesoftheoldwest .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.talesoftheoldwest .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.talesoftheoldwest .sheet-body,
.talesoftheoldwest .sheet-body .tab,
.talesoftheoldwest .sheet-body .tab .editor {
  height: 100%;
}
.talesoftheoldwest .tox .tox-editor-container {
  background: var(--talesoftheoldwest-c-white);
}
.talesoftheoldwest .tox .tox-edit-area {
  padding: 0 8px;
}
.talesoftheoldwest .sidebar {
  width: 88px;
}
.talesoftheoldwest .statnum {
  width: 44px;
  text-align: center;
  font-size: 1.25em;
  font-family: "fraunces-normal-400";
}
.talesoftheoldwest .dicenum {
  width: 60px;
}
.talesoftheoldwest .AColHeader,
.talesoftheoldwest .ABColHeader {
  font-weight: bold;
  font-size: large;
}
.talesoftheoldwest .textarea-format {
  padding: 7px;
  background-color: var(--talesoftheoldwest-c-white);
  font-family: "fraunces-normal-400";
}
.talesoftheoldwest .currency,
.talesoftheoldwest .currency2 {
  width: 80px;
  font-size: 1.25em;
  font-family: "fraunces-normal-400";
}
.talesoftheoldwest .experience {
  width: 64px;
  text-align: center;
  font-size: larger;
}
.talesoftheoldwest .main-attributes {
  font-weight: bold;
  font-size: 1.7em;
  text-align: center;
}
.talesoftheoldwest .heading {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}
.talesoftheoldwest .sub-heading {
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}
.talesoftheoldwest .gear-heading {
  font-weight: bold;
  font-size: 1em;
  text-align: right;
}
.talesoftheoldwest .conditionHeading {
  font-weight: bold;
  font-size: larger;
  text-align: center;
}
.talesoftheoldwest .healboxsize {
  max-width: 80px;
  color: inherit;
  background-color: var(--talesoftheoldwest-c-black);
  height: 20px;
  padding: 0;
  margin: 1px;
  text-align: center;
  border: 1px solid var(--aliengreen);
}
.talesoftheoldwest .newdots {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.285em;
  padding: 10px;
}
.talesoftheoldwest .newdots-plus {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.74em;
  padding: 10px;
}
.talesoftheoldwest .animal-stats {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  justify-self: anchor-center;
}
.talesoftheoldwest .small-box {
  min-height: 100px;
  max-height: 120px;
  overflow-x: auto;
}
.talesoftheoldwest .qualities-box {
  width: 257px;
  justify-self: center;
  min-height: 93px;
}
.talesoftheoldwest .item-weight {
  width: 44px;
  font-size: 1.4em;
  text-align: center;
  font-family: "fraunces-normal-400";
}
.talesoftheoldwest .aLink {
  color: hsl(25.44, 100%, 20.15%);
  font-weight: bold;
  font-size: 1em;
  font-style: italic;
}
.talesoftheoldwest .resource-label {
  font-weight: bold;
  color: var(--talesoftheoldwest-c-black);
}
.talesoftheoldwest .ability {
  margin-bottom: 2px;
}
.talesoftheoldwest .ability-score,
.talesoftheoldwest .ability-mod {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44px;
          flex: 0 0 44px;
}
.talesoftheoldwest .abilities-name {
  font-size: 1.3em;
  text-align: right;
}
.talesoftheoldwest .grid-crit {
  margin-bottom: 16px;
  height: 91px;
  overflow-x: auto;
  border: black solid 1px;
}
.talesoftheoldwest .saddle-bag {
  display: inline-block;
  background-image: url("../assets/icons/saddle.webp");
  background-size: contain;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background-size: 24px;
  border: 0;
}
.talesoftheoldwest .saddle-bag:hover, .talesoftheoldwest:focus {
  background-color: var(--color-warm-2);
  cursor: pointer;
}
.talesoftheoldwest .items-header {
  font-family: "fraunces-normal-400";
  background: var(--black);
  border: 2px groove var(--talesoftheoldwest-c-groove);
  font-weight: bold;
}
.talesoftheoldwest .items-list {
  font-family: "fraunces-normal-400";
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  padding-top: 2px;
}
.talesoftheoldwest .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.talesoftheoldwest .items-list .item-name {
  font-family: "fraunces-normal-400";
  overflow: hidden;
  /* font-size: 13px; */
  /* font-weight: bolder; */
}
.talesoftheoldwest .items-list .item-stat {
  overflow: hidden;
  font-size: 19px;
  color: var(--black);
  font-weight: bold;
}
.talesoftheoldwest .items-list .item-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.talesoftheoldwest .items-list .item-controls a {
  font-size: 12px;
  text-align: right;
  margin: 0 6px;
}
.talesoftheoldwest .items-list .item {
  padding: 0 2px;
  border-bottom: 1px solid var(--talesoftheoldwest-c-faint);
}
.talesoftheoldwest .items-list .item:last-child {
  border-bottom: none;
}
.talesoftheoldwest .items-list .item .item-name {
  color: var(--talesoftheoldwest-c-dark);
}
.talesoftheoldwest .items-list .item .item-name .item-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.talesoftheoldwest .items-list .items-header {
  font-family: "fraunces-normal-400";
  height: auto;
  margin: 2px 0 var(--black);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(139, 106, 44, 0.44);
  border: 2px groove var(--talesoftheoldwest-c-groove);
  font-weight: bold;
}
.talesoftheoldwest .item-formula {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  padding: 0 8px;
}
.talesoftheoldwest .effects-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--talesoftheoldwest-c-groove);
  font-weight: bold;
}
.talesoftheoldwest .effects-header > * {
  font-size: 14px;
  text-align: center;
}
.talesoftheoldwest .effects-header .effect-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.talesoftheoldwest .effects-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: var(--talesoftheoldwest-c-tan);
}
.talesoftheoldwest .effects-list .effect-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.talesoftheoldwest .effects-list .effect-name {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.talesoftheoldwest .effects-list .effect-name h3, .talesoftheoldwest .effects-list .effect-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.talesoftheoldwest .effects-list .effect-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.talesoftheoldwest .effects-list .effect-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.talesoftheoldwest .effects-list .effect {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid var(--talesoftheoldwest-c-faint);
}
.talesoftheoldwest .effects-list .effect:last-child {
  border-bottom: none;
}
.talesoftheoldwest .effects-list .effect .effect-name {
  color: var(--talesoftheoldwest-c-dark);
}
.talesoftheoldwest .effects-list .effect .effect-name .effect-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.talesoftheoldwest .effects-list .effect-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.talesoftheoldwest .effects-list .effects-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--talesoftheoldwest-c-groove);
  font-weight: bold;
}
.talesoftheoldwest .effects-list .effects-header > * {
  font-size: 12px;
  text-align: center;
}
.talesoftheoldwest .effects-list .effects-header .effect-name {
  padding-left: 5px;
  text-align: left;
}
.talesoftheoldwest .effect-formula {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  padding: 0 8px;
}
.talesoftheoldwest .effects .item .effect-source,
.talesoftheoldwest .effects .item .effect-duration,
.talesoftheoldwest .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.talesoftheoldwest .effects .item .effect-controls {
  border: none;
}/*# sourceMappingURL=talesoftheoldwest.css.map */