// $font-primary: 'Roboto', sans-serif;
$font-primary: 'Esteban', serif;
$font-secondary: 'Roboto', sans-serif;

.esteban-regular {
	font-family: 'Esteban', serif;
	font-weight: 400;
	font-style: normal;
}
