$font-primary: 'Playfair Display Regular', serif;
$font-italics: 'Playfair Display Italic', serif;
$font-secondary: 'Roboto', sans-serif;
// $font-primary: 'Roboto', sans-serif;
// $font-secondary: 'Roboto', sans-serif;

@font-face {
	font-family: 'Playfair Display Regular';
	font-weight: 400 900;
	src: url(../fonts/PlayfairDisplay-VariableFont_wght.woff2) format('woff2');
	unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00B4, U+00B6-017F, U+018F, U+0192, U+01A0-01A1, U+01AF-01B0, U+01B7, U+01CD-01CE, U+01D3-01D4, U+01E4-01E9,
		U+01EE-01EF, U+01F4-01F5, U+01FE-01FF, U+0218-021B, U+021E-021F, U+0237, U+0259, U+0292, U+02BB-02BC, U+02C6-02C7, U+02D8-02DD, U+0300-0304, U+0306-030C,
		U+0323, U+0326-0328, U+0335, U+0337-0338, U+0394, U+03A9, U+03BC, U+03C0, U+0400-045F, U+0462-0463, U+046A-046B, U+0490-0493, U+0496-0497, U+049A-049B,
		U+04A2-04A3, U+04AE-04B1, U+04BA-04BB, U+04C9-04CA, U+04D8-04D9, U+04E8-04E9, U+1E80-1E85, U+1E9E, U+1EA0-1EF9, U+2009, U+2010, U+2013-2014, U+2018-201A,
		U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032-2033, U+2039-203A, U+2044, U+2052, U+20AC, U+20B9, U+2105, U+2116, U+2122, U+212A-212B, U+2153-2154,
		U+2190-2194, U+2196-2199, U+2202, U+220F, U+2211-2212, U+221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25A0-25A1, U+25CA, U+FB01-FB02;
}
@font-face {
	font-family: 'Playfair Display Italic';
	font-weight: 400 900;
	src: url(../fonts/PlayfairDisplay-Italic-VariableFont_wght.woff2) format('woff2');
	unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00B4, U+00B6-017F, U+018F, U+0192, U+01A0-01A1, U+01AF-01B0, U+01B7, U+01CD-01CE, U+01D3-01D4, U+01E4-01E9,
		U+01EE-01EF, U+01F4-01F5, U+01FE-01FF, U+0218-021B, U+021E-021F, U+0237, U+0259, U+0292, U+02BB-02BC, U+02C6-02C7, U+02D8-02DD, U+0300-0304, U+0306-030C,
		U+0323, U+0326-0328, U+0335, U+0337-0338, U+0394, U+03A9, U+03BC, U+03C0, U+0400-045F, U+0462-0463, U+046A-046B, U+0490-0493, U+0496-0497, U+049A-049B,
		U+04A2-04A3, U+04AE-04B1, U+04BA-04BB, U+04C9-04CA, U+04D8-04D9, U+04E8-04E9, U+1E80-1E85, U+1E9E, U+1EA0-1EF9, U+2009, U+2010, U+2013-2014, U+2018-201A,
		U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032-2033, U+2039-203A, U+2044, U+2052, U+20AC, U+20B9, U+2105, U+2116, U+2122, U+212A-212B, U+2153-2154,
		U+2190-2194, U+2196-2199, U+2202, U+220F, U+2211-2212, U+221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25A0-25A1, U+25CA, U+FB01-FB02;
}
