<form class='flexcol'>
	<div style='padding: 1em 1em'>
		<h3>{{localize 'TALESOFTHEOLDWEST.dialog.WhichTroubleTable'}}</h3>
		<label class='resource-label' style='padding-right: 20px; color: black'>{{capitalise (localize 'TALESOFTHEOLDWEST.dialog.howManyDice')}}</label>
		<input style='max-width: 50px' type='text' id='manMod' name='manMod' value='1' autofocus='autofocus' />

		<button type='submit' value='1'>{{localize 'TALESOFTHEOLDWEST.dialog.conflict-physical'}}</button>
		<br /><br />
		<button type='submit' value='2'>{{localize 'TALESOFTHEOLDWEST.dialog.mental-social'}}</button>
	</div>
</form>