/* Import settings */
.talesoftheoldwest .container {
	width: 100%;
}

.talesoftheoldwest .listHeading {
	text-align: center;
	vertical-align: middle;
	padding: 10px 0px;
	border-bottom: 1px solid black;
	margin-bottom: 10px;
}

.talesoftheoldwest .twogridcol {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(160px, 50%));
}

.talesoftheoldwest .twogridcol input[type='checkbox'] {
	vertical-align: middle;
}

.talesoftheoldwest .actors.content {
	background: lightgray;
}
.talesoftheoldwest .actors.content.toggle-display {
	display: none;
}
.talesoftheoldwest .items.content {
	background: lightgray;
}
.talesoftheoldwest .items.content.toggle-display {
	display: none;
}
.talesoftheoldwest .journal.content {
	background: lightgray;
}
.talesoftheoldwest .journal.content.toggle-display {
	display: none;
}
.talesoftheoldwest .scenes.content {
	background: lightgray;
}
.talesoftheoldwest .scenes.content.toggle-display {
	display: none;
}
.talesoftheoldwest .tables.content {
	background: lightgray;
}
.talesoftheoldwest .tables.content.toggle-display {
	display: none;
}
.talesoftheoldwest .macros.content {
	background: lightgray;
}
.talesoftheoldwest .macros.content.toggle-display {
	display: none;
}
.talesoftheoldwest .title {
	cursor: pointer;
}
/* Footer */

.talesoftheoldwest .footer {
	position: sticky;
	bottom: 0;
	left: 0;
	width: inherit;
	height: auto;
	background-color: #d0daee;
}

.talesoftheoldwest .imagecontainer {
	position: relative;
	text-align: center;
	color: white;
}
/* Bottom left text */
.talesoftheoldwest .image-text-box {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 30px;
}

.talesoftheoldwest .content-link-I {
	color: hsl(39, 77%, 83%);
	background: transparent;
	font-size: 1.15em;
	border: 0;
}
.talesoftheoldwest a.inline-link {
	background-color: transparent;
	color: hsl(6deg 91.59% 29.26%);
	font-size: 1.15em;
	border: 0;
	font-family: $font-primary;
	font-style: italic;
}

.talesoftheoldwest .inline-link2 .content-link {
	background-color: transparent;
	color: hsl(6, 56%, 30%);
	font-size: 1.333em;
	border: 0;
	font-family: $font-primary;
}
.talesoftheoldwest .totowtable {
	height: 36px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: 0;
}
.talesoftheoldwest .totowtable tr:nth-child(even) {
	background-color: transparent;
}

.talesoftheoldwest .tdstyle {
	width: 40%;
	height: 18px;
	text-align: left;
}
.talesoftheoldwest .tdstyleR {
	width: 40%;
	height: 18px;
	text-align: Right;
}
.talesoftheoldwest .tdstyleC {
	width: 100%;
	height: 18px;
	text-align: center;
}
.talesoftheoldwest .tdstyle3D {
	width: 30%;
	height: 18px;
	text-align: center;
}
.talesoftheoldwest .tdstyle2D {
	width: 50%;
	height: 18px;
	text-align: center;
}

.talesoftheoldwest .blockquoteright {
	background-color: rgba(0, 0, 0, 0.05);
	max-width: 35%;
	padding: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 15px;
	break-inside: avoid;
	font-style: normal;
	float: right;
	border: 5px double hsl(0, 0%, 0%);
	border-radius: 25px;
	box-shadow: 3px 3px;
	font-family: $font-primary;
	box-shadow: -4px 6px 17px 0px hsl(0deg 1% 28%);
}
.talesoftheoldwest .blockquoteleft {
	background-color: rgba(0, 0, 0, 0.05);
	max-width: 35%;
	padding: 10px;
	margin-top: 10px;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-left: 10px;
	break-inside: avoid;
	font-style: normal;
	float: left;
	border: 5px double hsl(0, 0%, 0%);
	border-radius: 25px;
	box-shadow: 3px 3px;
	font-family: $font-primary;
	box-shadow: -4px 6px 17px 0px hsl(0deg 1% 28%);
}

.talesoftheoldwest .blockquotecenter {
	background-color: rgba(0, 0, 0, 0.05);
	max-width: 35%;
	padding: 10px;
	margin-top: 20px;
	margin-right: 15px;
	margin-bottom: 20px;
	margin-left: 10px;
	break-inside: avoid;
	font-style: italic;
	float: center;
	border: 2px solid hsl(0, 0%, 0%);
	font-family: $font-primary;
	box-shadow: -4px 6px 17px 0px hsl(0deg 1% 28%);
}
.talesoftheoldwest .blockquoteststtable {
	background-color: rgba(0, 0, 0, 0.05);
	margin: 0px;
	padding: 0px;
	border-style: none;
}

.talesoftheoldwest .blockquoteplainleft {
	max-width: 50%;
	break-inside: avoid;
	float: left;
	border: none;
	padding: 0;
	margin: 10px;
	font-family: $font-primary;
}
.talesoftheoldwest .blockquoteplainright {
	max-width: 50%;
	break-inside: avoid;
	float: right;
	border: none;
	padding: 0;
	margin: 10px;
	font-family: $font-primary;
}
.talesoftheoldwest .blockquoteplaincenter {
	break-inside: avoid;
	border: none;
	font-family: $font-primary;
}

.talesoftheoldwest .textover figcaption {
	position: absolute;
	top: 0%;
	bottom: 0%;
	text-align: left;
	width: auto;
	margin: 0;
	padding: 0px;
	font-family: $font-primary;
	font-weight: normal;
}
.talesoftheoldwest p {
	font-family: $font-primary;
	font-size: 1.3em;
	padding-left: 10px;
}

.talesoftheoldwest h1 {
	font-family: $font-primary;
	font-weight: bold;
}

.talesoftheoldwest h2 {
	font-family: $font-primary;
	font-weight: bold;
	text-align: center;
	font-size: 2.5em;
}

.talesoftheoldwest h3 {
	font-family: $font-primary;
	font-weight: bold;
	padding: 0;
	margin: 0;
	margin-top: 5px;
	border-bottom: none;
	font-size: 2em;
}
.talesoftheoldwest .h3center {
	text-align: center;
	border-bottom: 2px solid black;
}
.talesoftheoldwest .h3center-smallcaps {
	text-align: center;
	border-bottom: 2px solid black;
	font-variant-caps: all-small-caps;
}

.talesoftheoldwest h4 {
	font-family: $font-primary;
	font-weight: bold;
	font-size: 1.5em;
}

.talesoftheoldwest h5 {
	font-family: $font-primary;
	font-weight: bold;
	color: hsl(19, 70%, 37%);
	margin: 0px 20px 0px 10px;
	border-bottom: none;
}

.talesoftheoldwest h6 {
	font-family: $font-primary;
	font-weight: bold;
	color: hsl(0, 0%, 100%);
	margin: 0;
}

.talesoftheoldwest .h1NoUnder {
	border: 0;
	margin-bottom: 0;
}
.talesoftheoldwest .h2NoUnder {
	border: 0;
	margin-bottom: 0;
	text-align: center;
}

.talesoftheoldwest .h2subHead {
	font-weight: bold;
	color: hsl(19, 70%, 37%);
	border: 0;
	margin-bottom: 0;
	margin-left: 10px;
	font-family: $font-primary;
	font-size: 1.667em;
}

.talesoftheoldwest .totowtablesmall {
	height: 36px;
	width: 34%;
	margin-left: auto;
	margin-right: auto;
	border: 0;
	text-align: center;
	/* font-family: "Esteban"; */
	/* font-size: 18pt; */
}

.talesoftheoldwest .totowtablesmall tr:nth-child(even) {
	background-color: transparent;
}

.talesoftheoldwest ul li,
.talesoftheoldwest ol li {
	font-family: $font-primary;
	font-weight: normal;
	list-style-type: square;
	padding-bottom: 9px;
	font-size: 1.3em;
}
// ::marker {
// 	font-size: 1.5em;
// }

.ulindent {
	margin-left: 40px;
}

// .talesoftheoldwest :is(dir, menu, ol, ul) ul {
// 	list-style-type: inherit;
// 	/* font-size: 0.77em; */
// }

.talesoftheoldwest .nostyle li {
	font-family: $font-primary;
	font-weight: normal;
	list-style: none;
	padding-bottom: 9px;
	font-size: 1.3em;
}

// .talesoftheoldwest .dimond li {
// 	font-family: $font-primary;
// 	font-weight: normal;
// 	list-style-type: '◊';
// 	padding-bottom: 2px;
// 	font-size: 1.3em;
// }

.talesoftheoldwest .chapterHeading {
	font-family: $font-primary;
	font-weight: bold;
	font-size: 2em;
	color: hsl(0, 0%, 100%);
	margin: 0 0 0.5em 0;
	padding: 0;
	text-align: center;
	border-bottom: none;
}

.talesoftheoldwest .fancytext {
	color: hsl(19, 70%, 37%);
	font-size: 1.5em;
}

.talesoftheoldwest .pctable th,
.talesoftheoldwest .pctable td {
	border: 2px solid black;
	padding: 0px;
}
.talesoftheoldwest .pctable td p {
	font-size: 1.2em;
	padding-right: 4px;
	margin: 0px;
}
.talesoftheoldwest .stattable {
	font-style: italic;
	font-weight: 900;
	font-size: 1.5em;
	padding-right: 5px;
	margin: 0px;
	border-bottom: double 5px;
}
.talesoftheoldwest .actiontable {
	width: 30%;
	background-color: rgba(211, 211, 211, 0.459);
}

.talesoftheoldwest .ntable {
	width: 99%;
	border: none;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0;
	padding-bottom: 0;
}
.talesoftheoldwest .ntable tr:nth-child(even) {
	background-color: transparent;
}

.talesoftheoldwest .trhead {
	text-align: center;
	width: 45%;
	font-weight: bold;
}

.talesoftheoldwest .tcol1 {
	width: 2.5%;
}
.talesoftheoldwest .tcol2 {
	width: 45%;
	text-align: justify;
	vertical-align: top;
}
.talesoftheoldwest .tcol3 {
	width: 5%;
}

.talesoftheoldwest .upright-text {
	writing-mode: vertical-rl;
}

.talesoftheoldwest img {
	box-shadow: none;
}
