.window-app {
	font-family: $font-primary;
}

.rollable {
	&:hover,
	&:focus {
		color: #000;
		text-shadow: 0 0 10px red;
		cursor: pointer;
	}
}
.dice-tooltip .roll > img {
	width: 24px;
}

body {
	.talesoftheoldwest.application {
		font-family: $font-primary;
		color: black;
		width: 600;
		height: 896;
	}
	&.theme-light .application {
		background-image: url('../assets/background/lapp.webp');
		background-position: center; /* Center the image */
		background-repeat: no-repeat; /* Do not repeat the image */
		background-size: 100% 100%;
		border: unset;
		filter: drop-shadow(8px 12px 8px #353232) !important;
		box-shadow: unset;
		// border: 3px solid black;
	}
	&.theme-dark .application {
		background: url('../assets/background/lapp.webp');
		background-position: center; /* Center the image */
		background-repeat: no-repeat; /* Do not repeat the image */
		background-origin: content-box;
		border: unset;
		filter: drop-shadow(8px 12px 8px #353232) !important;
		box-shadow: unset;
		// border: 3px solid black;
	}

	&.theme-light .dialog .window-content {
		color: black;
		background: unset;
		background-image: url('../assets/background/lapp.webp');
		background-position: center; /* Center the image */
		background-repeat: no-repeat; /* Do not repeat the image */
		background-size: cover; /* Resize the background image to cover the entire container */
		background-origin: content-box;

		.form-footer {
			button {
				min-width: auto;
				width: fit-content;
			}
		}
	}
	&.theme-dark .dialog .window-content {
		color: black;
		background: unset;
		background-image: url('../assets/background/lapp.webp');
		background-position: center; /* Center the image */
		background-repeat: no-repeat; /* Do not repeat the image */
		background-size: cover; /* Resize the background image to cover the entire container */
		background-origin: content-box;
		.form-footer {
			button {
				min-width: auto;
				width: fit-content;
			}
		}
	}
	.application input[type='text'],
	.application input[type='number'],
	.application select {
		background: white;
		// border: 1px solid var(--input-border-color);
		// border-radius: 4px;
		// outline: 1px solid transparent;
		color: black;
	}
}

.application .window-header {
	background-image: url('../assets/background/header-plank.webp');
	// background: blue;
}

.application .window-resize-handle {
	position: absolute;
	inset: auto -2px -3px auto;
	width: 24px;
	height: 24px;
	cursor: nwse-resize;
	background: transparent url(../ui/DsN/trouble-face.webp) no-repeat center / contain;
}
