.window-app {
	font-family: $font-primary;
}

.rollable {
	&:hover,
	&:focus {
		color: #000;
		text-shadow: 0 0 10px red;
		cursor: pointer;
	}
}
.dice-tooltip .roll > img {
	width: 24px;
}

body {
	.talesoftheoldwest.application {
		font-family: $font-primary;
		color: black;
		width: 600;
		height: 896;
		background: transparent;
	}
	&.theme-light .application {
		background-image: url('../assets/background/lapp.webp');
		background-position: center; /* Center the image */
		background-repeat: no-repeat; /* Do not repeat the image */
		background-size: 100% 100%;
		border: unset;
		filter: drop-shadow(8px 12px 8px #353232);
		box-shadow: unset;
	}
	&.theme-dark .application {
		background-image: url('../assets/background/lapp.webp');
		background-position: center; /* Center the image */
		background-repeat: no-repeat; /* Do not repeat the image */
		background-size: 100% 100%;
		border: unset;
		filter: drop-shadow(8px 12px 8px #353232);
		box-shadow: unset;
	}
	&.theme-dark .application .window-content {
		backdrop-filter: none;
	}
	&.theme-light .dialog .window-content {
		color: black;
		background: unset;
		background-image: url('../assets/background/lapp.webp');
		background-position: center; /* Center the image */
		background-repeat: no-repeat; /* Do not repeat the image */
		/* background-size: cover; */ /* Resize the background image to cover the entire container */
		/* background-origin: content-box; */

		.form-footer,
		.dialog-buttons {
			justify-content: center;
			button {
				max-width: max-content;
				min-width: unset;
				width: fit-content;
			}
		}
	}
	&.theme-dark .dialog .window-content {
		// color: black;
		background: unset;
		background-image: url('../assets/background/lapp.webp');
		background-position: center; /* Center the image */
		background-repeat: no-repeat; /* Do not repeat the image */
		/* background-size: cover; */ /* Resize the background image to cover the entire container */
		/* background-origin: content-box; */

		.form-footer,
		.dialog-buttons {
			justify-content: center;
			button {
				max-width: max-content;
				min-width: unset;
				width: fit-content;
			}
		}
	}

	.application input[type='text'],
	.application input[type='number'],
	.application select {
		background: white;
		color: black;
		--input-background-color: rgba(0, 0, 0, 0.1);
		--input-border-color: var(--color-dark-6);
		--input-text-color: var(--color-dark-2);
		--input-placeholder-color: var(--color-dark-3);
		--input-focus-outline-color: var(--color-warm-2);
	}
	// .application input[type='checkbox'],
	// // .application input[type='checkbox']::after,
	// .application input[type='checkbox']::before {
	// 	background: white;
	// 	color: black;
	// 	content: '\f0c8';
	// 	--input-background-color: blue;
	// 	--input-border-color: blue;
	// 	--input-text-color: blue;
	// 	--input-placeholder-color: blue;
	// 	--input-focus-outline-color: blue;
	// }
}

.application .window-header,
.window-app .window-header {
	background-image: url('../assets/background/header-plank.webp');
	// background: blue;
}

.application .window-resize-handle {
	position: absolute;
	inset: auto -2px -3px auto;
	width: 24px;
	height: 24px;
	cursor: nwse-resize;
	background: transparent url(../ui/DsN/trouble-face.webp) no-repeat center / contain;
}

.talesoftheoldwest.application .window-content {
	display: block;
}
