<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
	{{!-- Sheet Header --}}
	<header class="sheet-header">
		<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
		<div class="header-fields">
			<h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		{{!-- Default tab is specified in actor-sheet.js --}}
		<a class="item" data-tab="skills">Skills</a>
		<!-- <a class="item" data-tab="description">Description</a>
		<a class="item" data-tab="items">Items</a>
		<a class="item" data-tab="effects">Effects</a> -->
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Owned skills Tab --}}
		<div class="tab skills" data-group="primary" data-tab="skills">
			<section class="resources">
				<div class="resource grid grid-4col">
					<label for="system.general.archtype" class="resource-label">ARCHTYPE</label>
					<label for="system.general.xp.value" class="resource-label">EXPERIENCE</label>
					<label for="system.general.money.value" class="resource-label">MONEY</label>
				</div>
				<div class="resource grid grid-4col">
					<select id="system.general.archtype" name="system.archtype">
						{{selectOptions archtype_list selected=system.archtype labelAttr="label"}}
					</select>
					<input class="statnum" type="text" name="system.general.xp.value" value="{{system.general.xp.value}}" data-dtype="Number" />
					<input class="statnum" type="text" name="system.general.money.value" value="{{system.general.money.value}}" data-dtype="Number" />
				</div>

				<div class="resource grid grid-4col">
					<label for="system.general.heritage" class="resource-label">HERITAGE</label>
					<label for="system.general.faith" class="resource-label">FAITH</label>
					<label for="system.general.faithpoints" class="resource-label">FAITH POINTS</label>
				</div>
				<div class="resource grid grid-4col">
					<select id="system.general.heritage" name="system.heritage">
						{{selectOptions heritage_list selected=system.general.heritage labelAttr="label"}}
					</select>
					<input type="text" name="system.general.faith" value="{{system.general.faith}}" data-dtype="text" />
					<input type="statnum" name="system.general.faithpoints.value" value="{{system.general.faithpoints.value}}" data-dtype="Number" />
				</div>
				<div class="resource grid grid-4col">
					<label for="system.general.bigdream" class="resource-label">BIG DREAM</label>
					<label for="system.general.yourpardner" class="resource-label">YOUR PARDNER</label>
				</div>
				<div class="resource grid grid-4col">
					<input type="text" name="system.general.bigdream" value="{{system.general.bigdream}}" data-dtype="text" />
					<input type="text" name="system.general.yourpardner" value="{{system.general.yourpardner}}" data-dtype="text" />
				</div>
			</section>

			<section class="grid grid-7col">
				{{#each system.abilities as |ability key|}}
				<div class="statnum">
					<label
						for="system.abilities.{{key}}.value"
						class="resource-label rollable flexlarge align-left"
						data-roll="d100"
						data-value="{{ability.value}}"
						data-label="{{ability.label}} {{ability.value}}"
						>{{ability.label}}</label
					>
					<input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number" />
				</div>
				{{/each}}
			</section>

			<section>
				<div>
					<label for="system.attributes.grit" class="resource-label">GRIT</label>
					<input class="statnum" name="system.attributes.grit.value" value="{{system.attributes.grit.value}}" data-dtype="Number" /> /
					<input class="statnum" name="system.attributes.grit.max" value="{{system.attributes.grit.max}}" data-dtype="Number" />
				</div>
				<div>
					<label for="system.attributes.quick" class="resource-label">QUICK</label>
					<input class="statnum" name="system.attributes.quick.value" value="{{system.attributes.quick.value}}" data-dtype="Number" /> /
					<input class="statnum" name="system.attributes.quick.max" value="{{system.attributes.quick.max}}" data-dtype="Number" />
				</div>
				<div>
					<label for="system.attributes.cunning" class="resource-label">CUNNING</label>
					<input class="statnum" name="system.attributes.cunning.value" value="{{system.attributes.cunning.value}}" data-dtype="Number" /> /
					<input class="statnum" name="system.attributes.cunning.max" value="{{system.attributes.cunning.max}}" data-dtype="Number" />
				</div>
				<div>
					<label for="system.attributes.docity" class="resource-label">DOCITY</label>
					<input class="statnum" name="system.attributes.docity.value" value="{{system.attributes.docity.value}}" data-dtype="Number" /> /
					<input class="statnum" name="system.attributes.docity.max" value="{{system.attributes.docity.max}}" data-dtype="Number" />
				</div>

				<!-- {{>"systems/talesoftheoldwest/templates/actor/parts/actor-skills.html"}} -->
			</section>
		</div>

		{{!-- Biography Tab --}}
		<div class="tab biography" data-group="primary" data-tab="description">
			{{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}} {{editor
			system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
		</div>

		{{!-- Owned Items Tab --}}
		<div class="tab items" data-group="primary" data-tab="items">{{> "systems/talesoftheoldwest/templates/actor/parts/actor-items.hbs"}}</div>

		{{!-- Active Effects Tab --}}
		<div class="tab effects flexcol" data-group="primary" data-tab="effects">{{> "systems/talesoftheoldwest/templates/actor/parts/actor-effects.hbs"}}</div>
	</section>
</form>
