{{! Sheet Header }}
<header class='sheet-header grid-header'>
	<div class='grid-header'>
		<div class='document-name HedCol1'>
			<input style='font-size: 35px;max-width: 445px;	height: auto;' name='name' type='text' value='{{actor.name}}' placeholder='Name' />
		</div>
	</div>
</header>