<div class='flexrow'>
	<img src='{{img}}' style='flex: 0 0 32px; width: 32px; height: 32px; margin-right: 8px; object-fit: cover' />
	<div style='margin: 0; padding: 0; line-height: 16px'>
		<h4>
			<strong style='text-transform: uppercase;font-weight: bold;font-size: large; color: hsl(0 59% 30% )'>{{localize
					'TALESOFTHEOLDWEST.General.TroubleOutcome'
				}}</strong>
			<br />
			<strong style='text-transform: uppercase;font-weight: bold; font-size: large; color: hsl(0 59% 30% ) '>{{keepMarkup rollAgainst}}</strong>
		</h4>
		<span style='font-weight: bold;font-size: large;'>{{keepMarkup textMessage}}</span><br /><br />

	</div>
</div>