.resource-label {
	font-weight: bold;
	color: var(--talesoftheoldwest-c-black);
}

.ability {
	margin-bottom: 2px;
}

.ability-score,
.ability-mod {
	flex: 0 0 44px;
}

.grid-crit {
	margin-bottom: 16px;
	height: 91px;
	overflow-x: auto;
	border: black solid 1px;
}
