<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
		<div class="header-fields">
			<h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
			<div class="grid grid-2col">
				<label for="system.subtype" class="resource-label">TYPE</label>
				<label for="system.action" class="resource-label">ACTION</label>
				<select id="system.subtype" name="system.subtype">
					{{selectOptions subtype_list selected=system.subtype labelAttr="label" localize=true}}
				</select>
				<select id="system.action" name="system.action">
					{{selectOptions action_list selected=system.action labelAttr="label" localize=true}}
				</select>
			</div>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="description">Description</a>
		<a class="item" data-tab="modifiers">Modifiers</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Description Tab --}}
		<div class="tab" data-group="primary" data-tab="description">
			<div class="resource grid grid-4col">
				<label for="system.bonusdraw" class="resource-label">BONUS DRAW</label>
				<label for="system.attackbonus" class="resource-label">ATTACK BONUS</label>
				<label for="system.damage" class="resource-label">DAMAGE</label>
				<label for="system.crit" class="resource-label">CRIT</label>
			</div>
			<div class="resource grid grid-4col">
				<input class="statnum" type="text" name="system.bonusdraw" value="{{system.bonusdraw}}" data-dtype="Number" />
				<input class="statnum" type="text" name="system.attackbonus" value="{{system.attackbonus}}" data-dtype="Number" />
				<input class="statnum" type="text" name="system.damage" value="{{system.damage}}" data-dtype="Number" />
				<input class="statnum" type="text" name="system.crit" value="{{system.crit}}" data-dtype="Number" />
			</div>
			<div class="resource grid grid-4col">
				<label for="system.range" class="resource-label">RANGE</label>
				<label for="system.ammo" class="resource-label">AMMO</label>
			</div>
			<div class="resource grid grid-4col">
				<select id="system.range" name="system.range">
					{{selectOptions range_list selected=system.range labelAttr="label" localize=true}}
				</select>
				<input class="statnum" type="text" name="system.ammo" value="{{system.ammo}}" data-dtype="Number" />
			</div>
			{{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}} {{editor
			system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
		</div>

		{{!-- Modifiers Tab --}}
		<div class="tab modifiers" data-group="primary" data-tab="modifiers">{{>"systems/talesoftheoldwest/templates/item/parts/item-modifiers.html"}}</div>
	</section>
</form>
